header {
    background-color: #ffe5e5;
    padding: 10px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 100px; /* Set your desired width */
    height: 80px; /* Maintain aspect ratio */
}

.navigation-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

.app-search {
    margin-left: auto;
}



.nav-link {
    text-decoration: none;
    color: #fff;
}

.btn {
    cursor: pointer;
}

.btn-info {
    background-color: #17a2b8;
}

.btn-success {
    background-color: #17a2b8;
}

.btn-warning {
    background-color: #ffc107;
}

.cart-icon {
    position: relative;
}

.cart-icon .badge {
    position: absolute;
    top: -8px;
    right: -8px;
}

.btn-danger {
    background-color: #dc3545;
    color: #fff;
}
