body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}
.content {
  text-align: center;
}
.success-container {
  width: 300px; /* Adjust the width as needed */
  background: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: inline-block;
}
h1 {
  color: #4CAF50;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
}
p {
  color: #333;
  font-size: 16px;
  margin: 0 0 20px;
}
.checkmark {
  color: #4CAF50;
  font-size: 60px;
  line-height: 120px;
  margin: 0 auto;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #F8FAF5;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.clickable-button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.clickable-button:hover {
  background-color: #45A049;
}