
 <!-- <nav class="navbar navbar-expand-dk navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Book Treasure</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto"  >
            <li class="nav-item"><a class="nav-link" routerLink="/login">Register</a></li>
            <li><a class="nav-link" href="javascript:void(0);" routerLink="/login" >Login</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/login">Dashboard</a></li>
            <li><a class="nav-link" href="javascript:void(0);" routerLink="/login" >Logout</a></li>
        </ul>
    </div>
</nav> -->