<app-header></app-header>

<body>
  <header>
    <div class="container">
      <h1>Bookstore</h1>
      <p>Your gateway to the world of books!</p>
    </div>
  </header>

  <section class="about-section">
    <div class="container">
      <div class="about-content">
        <h2><u>About Us</u></h2>
        <img src="/assets/bookstore-logo.jpg" width="300px" height="300px" alt="bookstore logo">
        <p>Welcome to our Bookstore, where knowledge and imagination collide. We are your haven for literary exploration and discovery.</p>
        <p>At the Bookstore, we curate a diverse collection of books, from classic masterpieces to contemporary bestsellers. Our mission is to foster a love for reading and learning among our patrons.</p>
        <p>Embark on a journey through the pages, exploring different worlds, diverse cultures, and unique perspectives. Whether you seek knowledge, entertainment, or inspiration, we have something for everyone.</p>
        <p class="last">Experience the joy of reading with our extensive library, knowledgeable staff, and a welcoming atmosphere. We are dedicated to providing enriching reading experiences, one book at a time.</p>
      </div>
    </div>
  </section>

  <footer>
    <div class="container">
      <p>&copy; 2023 Bookstore. All rights reserved.</p>
    </div>
  </footer>
</body>
